// Logo text MuSep 
.title {
	width: 264px;
	// height: 83px;
	height: 90;
	// box-shadow: 0px 5px 5px rgba(146, 146, 146, 0.75);
	color: #ff8a84;
	// font-family: "Hammersmith One";
    padding-left: 20px;
	// font-weight: 400;
	font-weight: 900;
	// font-size: 60px;
	font-size: 69px;
	letter-spacing: 15px;
	text-align: left;

}
.separator-title{ 
	color: #ff8a84;
	font-size: 28px;
}
.card-bg { 
    background-color: gray;
}


.card-button{ 
    vertical-align: baseline;
}


btn-focus:visited{ 
        background: #ff8a84;
}